.dnd-library-wrapper .editor-item .meta.type-link {
  background-image: url('icons/link.png');
  background-size: 13px;
}
.scald-menu .add-buttons .add-link {
  background: url('icons/link-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-link:hover {
  background-image: url('icons/link-color.png');
}
